= render template: 'mail_helper/inline_styles'

sass:
  .letter-link
    color: #d63f40 !important

  .letter
    &--bg
      background: #fefeff

    &--block
      border: 3px solid #487fbe
      border-radius: 5px

    &--head
      background: #fafaff

    &--header
      color: #ffffff
      background: #487fbe

    &--footer
      border-top: 1px solid #ccc
      background: #fafaff
      padding: 20px
      text-align: left

  .letter-body
    &--text
      font-size: 16px
      font-family: arial
      line-height: 130%
      text-align: left

    &--activation
      margin-top: 40px
      margin-bottom: 40px

    &--activation-border
      border: 3px solid #d31919
      border-radius: 5px

    &--activation-link
      color: #ffffff !important
      background: #fc1f1f
      padding: 20px
      display: block
      font-size: 18px

    &--plain-activation
      font-size: 12px
      font-family: arial
      background: #eee
      color: #0f34ad
      padding: 20px
      margin-bottom: 15px
