.link
  &--block
    font-size: 13px
    display: block
    padding: 5px 0
    color: #666

    &:hover
      color: #f00

  &--current
    color: #f00

.markers
  &--holder
    position: absolute
    top: 5px
    right: 5px

  &--item
    font-size: 13px
    padding: 4px 10px
    border-radius: 3px
    display: inline-block

  &--new
    background: #377bf2
    color: #fff

  &--discount
    background: #ea5143
    color: #fff

  &--recommended
    background: #29c10c
    color: #fff