ruby:
  ym_categories = <<-EOS
    Все товары/Электроника
    Все товары/Электроника/GPS-навигация
    Все товары/Электроника/GPS-навигация/GPS-навигаторы
    Все товары/Электроника/GPS-навигация/GPS-трекеры
    Все товары/Электроника/GPS-навигация/Аксессуары
    Все товары/Электроника/GPS-навигация/Карты и программы GPS-навигации
    Все товары/Электроника/Аудио- и видеотехника
    Все товары/Электроника/Аудио- и видеотехника/DVD и Blu-ray плееры
    Все товары/Электроника/Аудио- и видеотехника/TV-тюнеры
    Все товары/Электроника/Аудио- и видеотехника/Аксессуары
    Все товары/Электроника/Аудио- и видеотехника/Аксессуары/3D очки
    Все товары/Электроника/Аудио- и видеотехника/Аксессуары/Аксессуары для проигрывателей виниловых дисков
    Все товары/Электроника/Аудио- и видеотехника/Аксессуары/Антенны
    Все товары/Электроника/Аудио- и видеотехника/Аксессуары/Батарейки и аккумуляторы
    Все товары/Электроника/Аудио- и видеотехника/Аксессуары/Кабели и разъемы
    Все товары/Электроника/Аудио- и видеотехника/Аксессуары/Подставки и кронштейны
    Все товары/Электроника/Аудио- и видеотехника/Аксессуары/Универсальные пульты ДУ
    Все товары/Электроника/Аудио- и видеотехника/Аудиотехника
    Все товары/Электроника/Аудио- и видеотехника/Аудиотехника/CD-проигрыватели
    Все товары/Электроника/Аудио- и видеотехника/Аудиотехника/Акустические системы
    Все товары/Электроника/Аудио- и видеотехника/Аудиотехника/Деки кассетные
    Все товары/Электроника/Аудио- и видеотехника/Аудиотехника/Комплекты акустики
    Все товары/Электроника/Аудио- и видеотехника/Аудиотехника/Микрофоны
    Все товары/Электроника/Аудио- и видеотехника/Аудиотехника/Музыкальные центры
    Все товары/Электроника/Аудио- и видеотехника/Аудиотехника/Проигрыватели виниловых дисков
    Все товары/Электроника/Аудио- и видеотехника/Аудиотехника/Радиотюнеры, эквалайзеры
    Все товары/Электроника/Аудио- и видеотехника/Аудиотехника/Системы караоке
    Все товары/Электроника/Аудио- и видеотехника/Аудиотехника/Усилители и ресиверы
    Все товары/Электроника/Аудио- и видеотехника/Аудиотехника/Цифро-аналоговые преобразователи
    Все товары/Электроника/Аудио- и видеотехника/Домашние кинотеатры
    Все товары/Электроника/Аудио- и видеотехника/Системы MultiRoom
    Все товары/Электроника/Аудио- и видеотехника/Спутниковое и кабельное телевидение
    Все товары/Электроника/Аудио- и видеотехника/Стационарные медиаплееры
    Все товары/Электроника/Аудио- и видеотехника/Телевизоры и плазменные панели
    Все товары/Электроника/Игровые приставки
    Все товары/Электроника/Игровые приставки/Аксессуары
    Все товары/Электроника/Игровые приставки/Игровые приставки
    Все товары/Электроника/Игровые приставки/Игры
    Все товары/Электроника/Игровые приставки/Игры/Игры для 3DS
    Все товары/Электроника/Игровые приставки/Игры/Игры для DS
    Все товары/Электроника/Игровые приставки/Игры/Игры для Game Boy
    Все товары/Электроника/Игровые приставки/Игры/Игры для Game Boy Advance
    Все товары/Электроника/Игровые приставки/Игры/Игры для GameCube
    Все товары/Электроника/Игровые приставки/Игры/Игры для MegaDrive Portable
    Все товары/Электроника/Игровые приставки/Игры/Игры для PlayStation 2
    Все товары/Электроника/Игровые приставки/Игры/Игры для PlayStation 3
    Все товары/Электроника/Игровые приставки/Игры/Игры для PlayStation 4
    Все товары/Электроника/Игровые приставки/Игры/Игры для PlayStation Portable
    Все товары/Электроника/Игровые приставки/Игры/Игры для PlayStation Vita
    Все товары/Электроника/Игровые приставки/Игры/Игры для Wii
    Все товары/Электроника/Игровые приставки/Игры/Игры для Wii U
    Все товары/Электроника/Игровые приставки/Игры/Игры для Xbox
    Все товары/Электроника/Игровые приставки/Игры/Игры для Xbox 360
    Все товары/Электроника/Игровые приставки/Игры/Игры для Xbox ONE
    Все товары/Электроника/Игровые приставки/Игры/Игры для классических приставок
    Все товары/Электроника/Игровые приставки/Карты оплаты
    Все товары/Электроника/Игровые приставки/Мультиплатформенные приставки
    Все товары/Электроника/Оптические приборы
    Все товары/Электроника/Оптические приборы/Аксессуары
    Все товары/Электроника/Оптические приборы/Бинокли и зрительные трубы
    Все товары/Электроника/Оптические приборы/Лупы
    Все товары/Электроника/Оптические приборы/Микроскопы
    Все товары/Электроника/Оптические приборы/Приборы ночного видения
    Все товары/Электроника/Оптические приборы/Телескопы
    Все товары/Электроника/Портативная техника
    Все товары/Электроника/Портативная техника/Аксессуары для цифровых плееров
    Все товары/Электроника/Портативная техника/Аксессуары для электронных книг
    Все товары/Электроника/Портативная техника/Диктофоны
    Все товары/Электроника/Портативная техника/Магнитолы
    Все товары/Электроника/Портативная техника/Наушники
    Все товары/Электроника/Портативная техника/Очки виртуальной реальности
    Все товары/Электроника/Портативная техника/Портативная акустика
    Все товары/Электроника/Портативная техника/Радиоприемники
    Все товары/Электроника/Портативная техника/Ремешки для умных часов
    Все товары/Электроника/Портативная техника/Словари и переводчики
    Все товары/Электроника/Портативная техника/Умные часы и браслеты
    Все товары/Электроника/Портативная техника/Цифровые плееры
    Все товары/Электроника/Портативная техника/Электронные книги
    Все товары/Электроника/Телефоны
    Все товары/Электроника/Телефоны/Bluetooth-гарнитуры
    Все товары/Электроника/Телефоны/Аксессуары
    Все товары/Электроника/Телефоны/Аксессуары/DECT-гарнитуры
    Все товары/Электроника/Телефоны/Аксессуары/Аккумуляторы
    Все товары/Электроника/Телефоны/Аксессуары/Антенны
    Все товары/Электроника/Телефоны/Аксессуары/Держатели для мобильных устройств
    Все товары/Электроника/Телефоны/Аксессуары/Док-станции
    Все товары/Электроника/Телефоны/Аксессуары/Зарядные устройства, кабели и адаптеры
    Все товары/Электроника/Телефоны/Аксессуары/Защитные пленки и стекла
    Все товары/Электроника/Телефоны/Аксессуары/Моноподы и пульты для селфи
    Все товары/Электроника/Телефоны/Аксессуары/Объективы
    Все товары/Электроника/Телефоны/Аксессуары/Подвески
    Все товары/Электроника/Телефоны/Аксессуары/Проводные гарнитуры
    Все товары/Электроника/Телефоны/Аксессуары/Стилусы
    Все товары/Электроника/Телефоны/Аксессуары/Универсальные внешние аккумуляторы
    Все товары/Электроника/Телефоны/Аксессуары/Чехлы
    Все товары/Электроника/Телефоны/Аксессуары/Чехлы-аккумуляторы
    Все товары/Электроника/Телефоны/Запасные части
    Все товары/Электроника/Телефоны/Мобильные телефоны
    Все товары/Электроника/Телефоны/Проводные телефоны
    Все товары/Электроника/Телефоны/Радиотелефоны
    Все товары/Электроника/Телефоны/Рации
    Все товары/Электроника/Телефоны/Спутниковые телефоны
    Все товары/Электроника/Телефоны/Тарифные планы и номера
    Все товары/Электроника/Фото и видеокамеры
    Все товары/Электроника/Фото и видеокамеры/Аксессуары
    Все товары/Электроника/Фото и видеокамеры/Аксессуары/Адаптеры и переходные кольца
    Все товары/Электроника/Фото и видеокамеры/Аксессуары/Аксессуары для видеокамер
    Все товары/Электроника/Фото и видеокамеры/Аксессуары/Аксессуары для фотовспышек
    Все товары/Электроника/Фото и видеокамеры/Аксессуары/Аксессуары для штативов и моноподов
    Все товары/Электроника/Фото и видеокамеры/Аксессуары/Дистанционное управление
    Все товары/Электроника/Фото и видеокамеры/Аксессуары/Источники питания, зарядные устройства
    Все товары/Электроника/Фото и видеокамеры/Аксессуары/Конвертеры
    Все товары/Электроника/Фото и видеокамеры/Аксессуары/Насадки и крышки на объективы
    Все товары/Электроника/Фото и видеокамеры/Аксессуары/Светофильтры
    Все товары/Электроника/Фото и видеокамеры/Аксессуары/Сумки, чехлы для фото- и видеотехники
    Все товары/Электроника/Фото и видеокамеры/Аксессуары/Фотоматериалы и химикаты
    Все товары/Электроника/Фото и видеокамеры/Видеокамеры
    Все товары/Электроника/Фото и видеокамеры/Объективы
    Все товары/Электроника/Фото и видеокамеры/Пленочные фотоаппараты
    Все товары/Электроника/Фото и видеокамеры/Специальное оборудование
    Все товары/Электроника/Фото и видеокамеры/Специальное оборудование/Измерительное оборудование
    Все товары/Электроника/Фото и видеокамеры/Специальное оборудование/Оборудование для подводной съемки
    Все товары/Электроника/Фото и видеокамеры/Специальное оборудование/Оборудование для профессионалов
    Все товары/Электроника/Фото и видеокамеры/Фотоаппараты моментальной печати
    Все товары/Электроника/Фото и видеокамеры/Фотовспышки
    Все товары/Электроника/Фото и видеокамеры/Цифровые фотоаппараты
    Все товары/Электроника/Фото и видеокамеры/Цифровые фоторамки и фотоальбомы
    Все товары/Компьютерная техника
    Все товары/Компьютерная техника/Аксессуары
    Все товары/Компьютерная техника/Аксессуары/USB-концентраторы
    Все товары/Компьютерная техника/Аксессуары/Аксессуары для принтеров и МФУ
    Все товары/Компьютерная техника/Аксессуары/Аксессуары и запчасти для ноутбуков
    Все товары/Компьютерная техника/Аксессуары/Аксессуары и запчасти для ноутбуков/Аккумуляторы
    Все товары/Компьютерная техника/Аксессуары/Аксессуары и запчасти для ноутбуков/Блоки питания
    Все товары/Компьютерная техника/Аксессуары/Аксессуары и запчасти для ноутбуков/Запчасти для ноутбуков
    Все товары/Компьютерная техника/Аксессуары/Аксессуары и запчасти для ноутбуков/Подставки и столы
    Все товары/Компьютерная техника/Аксессуары/Аксессуары и запчасти для ноутбуков/Прочие аксессуары для ноутбуков
    Все товары/Компьютерная техника/Аксессуары/Аксессуары и запчасти для ноутбуков/Сумки и чехлы
    Все товары/Компьютерная техника/Аксессуары/Запчасти для принтеров и МФУ
    Все товары/Компьютерная техника/Аксессуары/Инструменты
    Все товары/Компьютерная техника/Аксессуары/Кабели, разъемы, переходники
    Все товары/Компьютерная техника/Аксессуары/Коврики для мышей
    Все товары/Компьютерная техника/Аксессуары/Кронштейны, держатели и подставки
    Все товары/Компьютерная техника/Аксессуары/Чехлы для планшетов
    Все товары/Компьютерная техника/Игры и программное обеспечение
    Все товары/Компьютерная техника/Игры и программное обеспечение/World of Tanks
    Все товары/Компьютерная техника/Игры и программное обеспечение/World of Warships
    Все товары/Компьютерная техника/Игры и программное обеспечение/Игры для ПК
    Все товары/Компьютерная техника/Игры и программное обеспечение/Обучение и видеокурсы
    Все товары/Компьютерная техника/Игры и программное обеспечение/Операционные системы
    Все товары/Компьютерная техника/Игры и программное обеспечение/Программы
    Все товары/Компьютерная техника/Источники бесперебойного питания
    Все товары/Компьютерная техника/Комплектующие
    Все товары/Компьютерная техника/Комплектующие/Блоки питания
    Все товары/Компьютерная техника/Комплектующие/Видеокарты
    Все товары/Компьютерная техника/Комплектующие/Жесткие диски, SSD и сетевые накопители
    Все товары/Компьютерная техника/Комплектующие/Звуковые карты
    Все товары/Компьютерная техника/Комплектующие/Корпуса
    Все товары/Компьютерная техника/Комплектующие/Кулеры и системы охлаждения
    Все товары/Компьютерная техника/Комплектующие/Материнские платы
    Все товары/Компьютерная техника/Комплектующие/Модули памяти
    Все товары/Компьютерная техника/Комплектующие/Оптические приводы
    Все товары/Компьютерная техника/Комплектующие/Процессоры (CPU)
    Все товары/Компьютерная техника/Комплектующие/Прочие комплектующие
    Все товары/Компьютерная техника/Комплектующие/Прочие комплектующие/Контроллеры
    Все товары/Компьютерная техника/Комплектующие/Прочие комплектующие/Корпуса и док-станции для жестких дисков
    Все товары/Компьютерная техника/Комплектующие/Прочие комплектующие/Накопители FDD, MOD, ZIP, Jazz, стримеры
    Все товары/Компьютерная техника/Комплектующие/Прочие комплектующие/Платформы
    Все товары/Компьютерная техника/Комплектующие/Прочие комплектующие/Платы ввода-вывода
    Все товары/Компьютерная техника/Комплектующие/Прочие комплектующие/Рэковые корпуса
    Все товары/Компьютерная техника/Комплектующие/Термопаста
    Все товары/Компьютерная техника/Компьютеры
    Все товары/Компьютерная техника/Компьютеры/Моноблоки
    Все товары/Компьютерная техника/Компьютеры/Настольные компьютеры
    Все товары/Компьютерная техника/Компьютеры/Ноутбуки
    Все товары/Компьютерная техника/Компьютеры/Планшеты
    Все товары/Компьютерная техника/Компьютеры/Промышленные компьютеры
    Все товары/Компьютерная техника/Компьютеры/Серверы
    Все товары/Компьютерная техника/Накопители
    Все товары/Компьютерная техника/Накопители/USB Flash drive
    Все товары/Компьютерная техника/Накопители/Карты памяти
    Все товары/Компьютерная техника/Накопители/Устройства для чтения карт памяти
    Все товары/Компьютерная техника/Оргтехника
    Все товары/Компьютерная техника/Оргтехника/3D принтеры
    Все товары/Компьютерная техника/Оргтехника/Оборудование для конференций
    Все товары/Компьютерная техника/Оргтехника/Принтеры и МФУ
    Все товары/Компьютерная техника/Оргтехника/Принтеры матричные
    Все товары/Компьютерная техника/Оргтехника/Режущие плоттеры
    Все товары/Компьютерная техника/Оргтехника/Сканеры
    Все товары/Компьютерная техника/Периферийные устройства
    Все товары/Компьютерная техника/Периферийные устройства/Веб-камеры
    Все товары/Компьютерная техника/Периферийные устройства/Графические планшеты и дигитайзеры
    Все товары/Компьютерная техника/Периферийные устройства/Клавиатуры, мыши, комплекты
    Все товары/Компьютерная техника/Периферийные устройства/Компьютерная акустика
    Все товары/Компьютерная техника/Периферийные устройства/Компьютерные гарнитуры
    Все товары/Компьютерная техника/Периферийные устройства/Микрофоны
    Все товары/Компьютерная техника/Периферийные устройства/Мониторы
    Все товары/Компьютерная техника/Периферийные устройства/Рули, джойстики, геймпады
    Все товары/Компьютерная техника/Расходные материалы
    Все товары/Компьютерная техника/Расходные материалы/Дискеты, диски, кассеты
    Все товары/Компьютерная техника/Расходные материалы/Картриджи, тонеры, фотобарабаны
    Все товары/Компьютерная техника/Расходные материалы/Сумки и боксы для дисков
    Все товары/Компьютерная техника/Расходные материалы/Чистящие принадлежности
    Все товары/Компьютерная техника/Сетевое оборудование
    Все товары/Компьютерная техника/Сетевое оборудование/VoIP-оборудование
    Все товары/Компьютерная техника/Сетевое оборудование/Беспроводное оборудование
    Все товары/Компьютерная техника/Сетевое оборудование/Кабели и разъемы
    Все товары/Компьютерная техника/Сетевое оборудование/Маршрутизаторы и коммутаторы
    Все товары/Компьютерная техника/Сетевое оборудование/Модемы
    Все товары/Компьютерная техника/Сетевое оборудование/Оборудование Wi-Fi и Bluetooth
    Все товары/Компьютерная техника/Сетевое оборудование/Принт-серверы
    Все товары/Компьютерная техника/Сетевое оборудование/Прочее сетевое оборудование
    Все товары/Компьютерная техника/Сетевое оборудование/Прочее сетевое оборудование/VoIP-шлюзы
    Все товары/Компьютерная техника/Сетевое оборудование/Прочее сетевое оборудование/Конвертеры интерфейсов и скоростей
    Все товары/Компьютерная техника/Сетевое оборудование/Прочее сетевое оборудование/Мультиплексоры
    Все товары/Компьютерная техника/Сетевое оборудование/Прочее сетевое оборудование/Оборудование и инструменты для монтажа сетей
    Все товары/Компьютерная техника/Сетевое оборудование/Прочее сетевое оборудование/Промышленные модемы
    Все товары/Компьютерная техника/Сетевое оборудование/Прочее сетевое оборудование/СКС
    Все товары/Компьютерная техника/Сетевое оборудование/Прочее сетевое оборудование/Системы доступа и коммуникационные сервера
    Все товары/Компьютерная техника/Сетевое оборудование/Прочее сетевое оборудование/Трансиверы
    Все товары/Компьютерная техника/Сетевое оборудование/Репитеры
    Все товары/Компьютерная техника/Сетевое оборудование/Рэковые сетевые хранилища
    Все товары/Компьютерная техника/Сетевое оборудование/Сетевые камеры
    Все товары/Компьютерная техника/Сетевое оборудование/Сетевые карты и адаптеры
    Все товары/Электроника/Фото и видеокамеры/Штативы и моноподы
    Все товары/Авто/Электроника
    Все товары/Авто/Электроника/Автомобильные инверторы
    Все товары/Авто/Электроника/Автомобильные радиостанции
    Все товары/Авто/Электроника/Бортовые компьютеры
    Все товары/Авто/Электроника/Видеорегистраторы
    Все товары/Авто/Электроника/Камеры заднего вида
    Все товары/Авто/Электроника/Парктроники
    Все товары/Авто/Электроника/Радар-детекторы
    Все товары/Авто/Электроника/Разветвители прикуривателя
    Все товары/Авто/Электроника/Устройства громкой связи
  EOS

  ym_categories = ym_categories.split("\n").map{|item| item.strip}
  selected_cat = product.ym_market_category

  opts = options_for_select(ym_categories.map{|yc| [yc, yc]}, selected: selected_cat)

= f.label :ym_market_category, 'Категория по классификатору Яндекс Маркета', class: 'block fs13 mb10'
= f.select :ym_market_category, opts, {include_blank: true}, autocomplete: :off, class: 'ptz_input ptz_size-15 w80p form-classic--select'
