= render template: 'rails_shop/meta_data/products/index'
= render template: 'rails_shop/layouts/items/header_footer'

h1.fs20.mb20.mt20 Интернет магазин

.mb15.fs15
  = link_to 'Бренды', shop_brands_path

= render template: 'rails_shop/shop_categories/shop_items_list', locals: { shop_items: @shop_items }
= render template: 'rails_shop/common/paginator', locals: { items: @shop_category_rels }